@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

*{
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 550px;
  color: var(--black-color);
  font-size: 10px;
  box-shadow: 0px 0px 20px -2px rgba(0,0,0,0.92);
  /* display: flex;
  justify-self: center;
  align-self: center; */
  margin: auto;
}

:root {
  --orange-color: #F55A5A;
  --black-color: #2B283A;
  --gray-color: #918E9B;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

/* navbar */
.navbar {
  background-color: var(--orange-color);
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.navbar-logo {
  height: 16px;
  margin-right: 7px;
}

.navbar-title {
  color: white;
  font-weight: 500;
  font-size: 14px;
}


/*cards*/
.main {
  padding: 20px 40px 0 40px;
}

.main:last-child > .border {
  display: none;
}

.main:last-child {
  padding-bottom: 10px;
}

.card {
  display: flex;
  margin-bottom: 20px;
}

.card-image {
  height: 168px;
  width: 125px;
  object-fit: cover;
  border-radius: 5px;
}

.card-info {
  padding: 20px 20px 0 20px;
}

.card-location {
  display: flex;
  align-items: center;
  margin-bottom: 7px;
}

.card-location-pin {
  margin-right: 4px;
}

.card-location-country {
  text-transform: uppercase;
  letter-spacing: 0.17em;
  margin-right: 12px;
}

.card-location-link {
  color: var(--gray-color);
}

.card-title {
  font-size: 25px;
  margin-bottom: 12px;
}

.card-date {
  font-weight: 700;
  margin-bottom: 9px;
}

.card-desc {
  line-height: 15px;
}

.border {
  border: 1px solid #F5F5F5;
}